@model IEnumerable<ClienteModel>

<div class="container">
    <div class="row">
        <div class="col-md-12">


            <h1>Clientes</h1>

            @if ( ! String.IsNullOrEmpty((String) TempData["mensagem"]) ) {
                <div class="alert alert-warning" role="alert">@TempData["mensagem"]</div>
            }

            <p class="toolbar">
                <a class="create btn btn-dark" asp-controller="Cliente" asp-action="Novo">Novo Cliente</a>
            </p>

            <partial name="_ClienteItem" model="Model" />

        </div>
    </div>
</div>