@model IEnumerable<ClienteModel>

<div class="container">
    <div class="row">
        <div class="col-md-12">


            <h1>Clientes</h1>

            @if ( ! String.IsNullOrEmpty((String) TempData["mensagem"]) ) {
                <div class="alert alert-warning" role="alert">@TempData["mensagem"]</div>
            }

            <p class="toolbar">
                <a class="create btn btn-dark" asp-controller="Cliente" asp-action="Novo">Novo Cliente</a>
            </p>

            <div class="jumbotron">
                <form asp-action="Pesquisar">
                    <div class="form-group">
                        <label class="control-label">Pesquisar o Nome</label>
                        <input class="form-control col-5" name="NomePesquisa" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Pesquisar Email</label>
                        <input class="form-control col-5" name="EmailPesquisa" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Pesquisar Representante</label>
                        <select class="form-control col-5" name="RepresentanteId" asp-items="@ViewBag.representantes">
                            <option value="">Selecione</option>
                        </select>
                    </div>

                    <button type="submit" class="btn btn-primary btn-lg">Buscar</button>
                </form>
            </div>
            <hr />

            @if( Model.Count() > 0 ) {
                <partial name="_ClienteItem" model="Model" />
            }

        </div>
    </div>
</div>